<%- include('partials/header') %>
<details class="card">
    <summary> Waren inspizieren und bearbeiten</summary>
<div class="col mx-auto">
    <table border="1">
        <tr>
            <th width=500 style="background-color:#1c87c9;">Materialart</th>
            <th width=100 style="background-color:#1c87c9;">Item ID</th>
            <th width=300 style="background-color:#1c87c9;">Produkttyp</th>
        </tr>
    <% for (var i = 0; i < materialStammdaten.length; i++){ %>
        <tr>
        <th width=500 ><%= materialStammdaten[i].itemName %></th>
            <th width=100><%= materialStammdaten[i].itemId %> </th>
            <th width=300><%= materialStammdaten[i].produktTyp %></th>
        </tr>
    <% } %>   
    </table>
</div>
</details>
<br>
<div class="row mx-auto">    
    <details open class="col-lg-4 card">
        <summary> Waren verbuchen </summary>
        <div >
            
            <% if (materialStammdaten.length == 0) { %>
                Noch keine Materialstammdaten verfügbar.
            <% } else { %> 
        
            <form action="http://localhost:3000/erpSystem/wareVerbuchen" method="POST" class="card-body">   
                <div class="form-group">
                <select name = "itemName" id="itemName" class="form-control">                
                    <% for (var i = 0; i < materialStammdaten.length; i++){ %>
                        <option value = "<%= materialStammdaten[i].itemName %>" selected>  <%= materialStammdaten[i].itemName %> (<%= materialStammdaten[i].itemId %>)</option>
                    <% } %>
                </select></div>
                <div class="form-group">
                    <input type="number" name="itemAnzahl" value="" placeholder=0 id="itemAnzahl" autofocus="autofocus" class="form-control " required/>
                    
                </div>            
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ware hinzufügen</button>
                </div>
                <!-- <span class="UpvoteButton">Alert(0) aufrufen</span> -->
            </form>
            <% } %>
        </div>   
    </details>
    <details open class="col-lg-4 card">
        <summary> Waren entnehmen </summary>
        <div>
            <% if (materialStammdaten.length == 0) { %>
                Noch keine Materialstammdaten verfügbar.
            <% } else { %>
                <form action="http://localhost:3000/erpSystem/wareEntnehmen" method="POST" class="card-body">
                    <div class="form-group">
                        <select name = "itemName" id="itemName" class="form-control ">
                            <% for (var i = 0; i < materialStammdaten.length; i++){ %>
                                <option value = "<%= materialStammdaten[i].itemName %>" selected ><%= materialStammdaten[i].itemName %> </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" name="itemAnzahl" value="" placeholder=0 id="itemAnzahl" autofocus="autofocus" class="form-control " required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Ware entnehmen</button>
                    </div>
                </form>
            <% } %>
        </div> 
    </details>
    <details open class="col-lg-4 card">
        <summary> Materialstamm hinzufügen </summary>
        <div>
            <form action="http://localhost:3000/erpSystem/materialstammHinzufuegen" method="POST" class="card-body">
                <div class="form-group">
                    <select name = "produktTyp" id="produktTyp" class="form-control ">
                            <option value = "Fertigerzeugnis" selected >Fertigerzeugnis</option>
                            <option value = "Halberzeugnis" >Halberzeugnis</option>
                            <option value = "Rohmaterial" >Rohmaterial</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="itemName" value="" placeholder="" id="itemName" autofocus="autofocus" class="form-control " required/>
                </div>      
                <div class="form-group">
                    <input type="text" name="itemId" value="MAT" placeholder="" id="itemId" autofocus="autofocus" class="form-control " required/>
                </div>           
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Materialart hinzufügen</button>
                </div>
            </form>
        </div> 
    </details>
</div>
<div class="row mx-auto">    
    <details open class="col-lg-4 card">
        <summary> Auftrag erstellen </summary>
        <div >
            
        
            <form action="http://localhost:3000/erpSystem/auftragHinzufuegen" method="POST" class="card-body">   
                <div class="form-group">
                    <select name = "auftragsTyp" id="auftragsTyp" class="form-control">                
                        <option value = "Bestellung" selected >Bestellung</option>
                        <option value = "Umlagerung" >Umlagerung</option>
                        <option value = "Produktionsauftrag" >Produktionsauftrag</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="auftragsId" value="" placeholder="" id="auftragsId" autofocus="autofocus" class="form-control " required/>
                </div>
                <div class="form-group">
                    <input type="text" name="kundenId" value="" placeholder="" id="kundenId" autofocus="autofocus" class="form-control " required/>
                </div>                
                <div class="form-group">
                    <input type="number" name="itemAnzahl" value="" placeholder=0 id="itemAnzahl" autofocus="autofocus" class="form-control " required/>                    
                </div>   
                <div class="form-group">
                    <input type="text" name="lagerortId" value="" placeholder="" id="lagerortId" autofocus="autofocus" class="form-control " required/>
                </div>         
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Auftrag hinzufügen</button>
                </div>
                <!-- <span class="UpvoteButton">Alert(0) aufrufen</span> -->
            </form>           
        </div>   
    </details>
</div>
<script>
    $('.UpvoteButton').click(function () {
    //   $(this).toggleClass('on');
    //   $('.DownvoteButton').removeClass('on');
    alert (0);
    });
</script>
<br>
<form action="http://localhost:3000/erpSystem/saveData" method="POST" class="card-body">                   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Daten speichern</button>
    </div>
    <!-- <span class="UpvoteButton">Alert(0) aufrufen</span> -->
</form>
<div class="col-lg-4">
<table border="1">
    <tr>
        <th width=500 style="background-color:#1c87c9;">Itemname</th>
        <th width=100 style="background-color:#1c87c9;">Anzahl</th>
    </tr>
    <% for (var i = 0; i < inventory.length; i++) { %>
        <tr>
            <th width=500 > <%= inventory[i].itemName.toString() %> </th>
            <th width=100 > <%= inventory[i].itemAnzahl.toString() %> </th>
        </tr>
    <% } %>
</table>
</div>